.role-manage-box
  width: 100%
  padding: 1rem
  display flex
  >div
    box-shadow 0 0 1rem #ccc
    overflow: hidden;
    border-radius .5rem
  >.left
    flex 2
    min-width 25rem
    max-width 25rem
    margin-right: 2rem
    padding 1rem 0
  >.right
    flex 8
    padding: 1rem
    user-select none
    >.title-box
      position: relative;
      display flex
      flex-wrap wrap
      >.power
        width: 20rem
        margin: 2rem
    >.department-manage-box
      position: relative;
      display flex
      flex-wrap wrap
      >.depart-job
        width: 20rem
        margin: 2rem

