.project-box
  width: 100%
  height auto
  >.project-nav
    margin-top: .3rem
    height: 10rem
    >ul
      position: relative;
      display flex
      justify-content flex-end
      >li
        position: relative;
        padding: 0 1rem
  >.ani-box
    width: 100%
    height: auto;
    display flex
    flex-wrap wrap